<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="anta.css">
    <title>O Antagonista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <ul>
        <% @html.each do |noticia| %>
            <li> <%= noticia %> </li>
            <hr/>
        <% end %>
    </ul>
</body>
</html>