// $pallete: (título, borda, navegação, backgound);

/* http://www.colourlovers.com/palette/1473/Ocean_Five */
// $pallete: (#CC333F, #00A0B0, #EB6841, #EBF2F2);

// http://www.colourlovers.com/palette/1098589/coup_de_gr%C3%A2ce
$pallete: (#2A363B, #E84A5F, #FF847C, #EBF2F2);

// http://www.colourlovers.com/palette/15/tech_light
// $pallete: (#202020, #26ADE4, #26ADE4, #EBF2F2);

$title_font: 'Julius Sans One', Georgia, Arial, sans-serif;
$text_font: 'Lato', Verdana, sans-serif;
$text_color: #444;

$cor_titulo    : nth($pallete, 1);
$cor_borda     : nth($pallete, 2);
$cor_navegacao : nth($pallete, 3);
$cor_fundo     : nth($pallete, 4);

* {
    margin:  0;
    padding: 0;
}

body {
    max-width:   740px;
    margin:      0 auto;
    font-family: $text_font;
    color:       $text_color;
    background-color: $cor_fundo;
}

img {
    width: 100%;
    max-width: 380px;
}

h2 {
    font-size:   22px;
    font-weight: bold;
    font-family: $title_font;
    color:       $cor_titulo;
}

div.data {
    font-size: small;
    color: lighten($cor_titulo, 50%);
    padding-bottom: 1em;
}

article {
    border-left: 12px $cor_borda solid;
    padding:     16px 24px;
    margin:      18px 0;
    background-color:  white;
   -webkit-box-shadow: 3px 3px 5px 2px #ddd;
           box-shadow: 3px 3px 5px 2px #ddd;
}

p {
    line-height:    138%;
    letter-spacing: 0.2px;
    text-align:     justify;
    + p {
        margin-top: 1.5em;
    }
}

a {
    text-decoration: none;
    &.navegacao {
        position: fixed;
        top:      2px;
        right:    70px;
        font-size:   20px;
        font-family: monospace;
        padding:     3px 12px;
        color:       white;
        background: $cor_navegacao;
       -webkit-border-radius: 4px;
               border-radius: 2px;
    }
    &.proxima {
        right: 2px;
    }
}

footer {
    text-align: right;
    font-size:  small;
    color:      darken($cor_fundo, 25%);
}
