// $pallete: (título, borda, navegação, backgound);

/* http://www.colourlovers.com/palette/1473/Ocean_Five */
// $pallete: (#CC333F, #CC333F, #00A0B0, #b5b5bb);

// http://www.colourlovers.com/palette/15/tech_light
// $pallete: (#26ADE4, #26ADE4, #202020, #b5b5bf);

// medium.com!
$pallete: (#00ab6b, #26ADE4, #00ab6b, #d5dad5);

$title_font: 'Alegreya', Georgia, Arial, sans-serif;
$text_font:  'Work Sans', Verdana, sans-serif;
$text_color: rgba(0, 0, 0, 0.8);
$highlight:  rgba(97, 255, 160, 0.8);
$padding_h:  54px;
$padding_v:  24px;

$cor_titulo    : nth($pallete, 1);
$cor_borda     : nth($pallete, 2);
$cor_borda2    : nth($pallete, 3);
$cor_fundo     : nth($pallete, 4);

* {
    margin:  0;
    padding: 0;
}

body {
    max-width:  800px;
    margin:     0 auto;
    background: $cor_fundo;
}

article {
    margin:      $padding_v 4px;
    border-top:  none;

    background-color:  white;
   -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
           box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;

    color:       $text_color;
    font-family: $text_font;
    line-height: $padding_v;
}

img, iframe {
    width: 100% !important;
    max-width: 500px !important;
}

header, footer.data, p {
    padding: $padding_v $padding_h;
    @media screen and (max-width: 600px) {
        padding: $padding_v 16px;
    }
}

header {
    font-size:      26px;
    font-weight:    bold;
    font-variant:   small-caps;
    letter-spacing: 0.4px;
    font-family:    $title_font;
    color:          $cor_titulo;
    line-height:    $padding_v;
}

footer.data {
    font-size:   small;
    box-sizing:  border-box;
    margin-top:  $padding_v;
    text-align:  right;
    padding-top:      $padding_v / 2.4;
    padding-bottom:   $padding_v / 2.4;
    color:            darken($highlight, 42%);
    background-color: $highlight;
}

p {
    font-size:      17px;
    line-height:    142%;
    letter-spacing: 0.2px;
    padding-top:    0;
    padding-bottom: 0;
    + p {
        margin-top: 1.2em;
    }
}

a {
    text-decoration: none;
    &.navegacao {
        position: fixed;
        top:      6px;
        right:    80px;
        font-size:   20px;
        font-family: monospace;
        padding:     4px 14px;
        color:       white;
        background:  $cor_borda2;
       -webkit-border-radius: 6px;
               border-radius: 6px;
    }
    &.proxima {
        right: 4px;
    }
}

footer.version {
    text-align: right;
    font-size:  small;
    color:      darken($cor_fundo, 25%);
}
