* {
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Liberation Mono", "Courier New", monospace;
}

/*
Solarized Colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/
body         { color: #839496; /* base0  */ }
a            { color: inherit; }
div.header   { color: #b58900; /* yellow */ }
div.date     { color: #268bd2; /* orange */ }
div.version  { color: #93a1a1; /* base1  */ }

body         { background-color: #002b36; /* base03 */ }
a.navigation { background-color: #073642; /* base02 */ }
article      { background-color: #073642; /* base02 */ }

article {         box-shadow: #839496 0px 0px 16px 0px; /* yellow */ }
article { -webkit-box-shadow: #839496 0px 0px 16px 0px; /* yellow */ }

/* POSITION */
body {
  margin:     0 auto;
  max-width:  860px;
}

article {
  margin: 24px 4px;
  line-height: 24px;
}

p {
  font-size:      17px;
  line-height:    138%;
  letter-spacing: 0.2px;
  margin-top:     1.2em;
}

div.header, div.date, p {
  padding-left:  54px;
  padding-right: 54px;
}

@media (max-width: 600px) {
  div.header, div.date, p {
    padding-left:  16px;
    padding-right: 16px;
  }
}

div.header {
  font-size:      26px;
  font-weight:    bold;
  font-variant:   small-caps;
  letter-spacing: -0.2px;
  padding-top:    24px;
}

div.date {
  padding-top:    16px;
  padding-bottom: 16px;

  font-size:  medium;
  text-align: right;
}

a.navigation {
  padding:  6px 14px;
  margin-top: 20px;

  font-size:   large;
  font-weight: bold;
}

div.version {
  position: fixed;
  bottom:   4px;
  right:    8px;

  font-size: small;
}
