/* http://www.colourlovers.com/palette/1473/Ocean_Five */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Verdana, sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

img { width: 52%; }

h2 {
    font: bold 28px Helvetica, Verdana, sans-serif;
    color: #CC333F;
}

article {
    border-left: 8px #00A0B0 solid;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px
}

p {
    margin-bottom: 12px;
    line-height: 138%;
    letter-spacing: 0.2px;
}

div.data {
    font-size: small;
    color: #6A4A3C;
    padding-bottom: 10px;
}

a.navegacao {
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    padding: 1px 13px;
    position: fixed;
    top: 0px;
    background: #EB6841;
    color: white;
    right: 56px;
}

a.proxima {
    right: 0px;
}

footer {
    text-align: right;
    color: #DCE0E6;
    font-size: small;
}