/* http://www.colourlovers.com/palette/151113/blue_jay_feather */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 920px;
    margin: 0 auto;
}

img { width: 60%; }

h2 {
    font: bold 28px Helvetica, Verdana, sans-serif;
    padding: 8px 0 15px 0;
    color: #606D80;
}

article {
    border-left: 8px #2B4C7E solid;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px
}

p {
    margin-bottom: 12px;
    line-height: 138%;
    letter-spacing: 0.4px;
}

footer {
    text-align: right;
    color: #DCE0E6;
    font-size: small;
}